


/* CSS for the lasagna page */




body {
    background-color:   rgb(184, 184, 184);
    border: 2px solid yellow;
    border-radius: 1%;
    margin: 10px;
    text-align: center;
    opacity: 0.8;
}

.mhead {
    
        color: red;
        font-size: 30px;
        font-style: italic;
        background-color: yellow; 
}
.starter{

    color:red;
    font-size: 20px;
    font-style: italic;    
}

p {

    color: red;
}

.lists {

    color: red;
}

.lasimg {
    
    background-color: yellow;
    
    border: yellow 2px solid;
    
    margin: 70px;
    
    border-radius: 10%;

    height: 510px;

    
} 
      
      


/* CSS for the sushi page */


