
html{
    background-color:   rgb(112, 105, 105);
}

.header{
    display: grid;
    border: solid;
    grid-template-columns: 1fr;
    border-color: yellow;
    border-radius: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-width: 10px;
}


#head{
    color:  rgb(197, 40, 40);
    font-size: 40px;
    text-align: center;
    cursor: default;
}

.subhead{
    display: grid;
 grid-template-columns: 1fr 1fr 1fr;
    
}

#homepage, #about, #contact{
    color: rgb(197, 40, 40);
    text-align: center;
}



.links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    transform: translateY(300px);
    transition: ease-in-out 1s;

}

#link1{
    background-color: rgb(112, 105, 105) ;
    color:  rgb(197, 40, 40);
    font-size: 50px;
    font-style: bold;
    margin: -8px;
    border: solid;
    border-color: yellow;
    border-radius: 10px;
    border-width: 5px;    
    cursor:cell;
}

#link2{
    background-color:  rgb(112, 105, 105);
    color:  rgb(197, 40, 40);
    font-size: 50px;
    font-style: bold;
    margin: -8px;
    border: solid;
    border-color: yellow;
    border-radius: 10px;
    border-width: 5px;
    cursor:cell;
}

#link3{
    background-color:  rgb(112, 105, 105);
    color:  rgb(197, 40, 40);
    font-size: 50px;
    font-style: bold;
    border: solid;
    margin: -8px;
    border-color: yellow;
    border-radius: 10px;
    border-width: 5px;
    cursor:cell;
}